<div class="more-wrapper">
	<ul class="more-list">
		<li>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus,
			sapiente?
		</li>
		<li>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus,
			sapiente?
		</li>
		<li>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus,
			sapiente?
		</li>
		<li>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus,
			sapiente?
		</li>
		<li>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus,
			sapiente?
		</li>
		<li>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus,
			sapiente?
		</li>
	</ul>
	<button class="btn-more js-btn-more">
		<span class="plus"></span>
		Детальніше
	</button>
</div>
