.more {
	&-list {
		font-size: 16px;
		line-height: 1.4;
		max-height: 200px;
		overflow: hidden;
		margin-bottom: 24px;
		transition: max-height $hover-duration $timing;

		li {
			position: relative;
			padding-left: 26px;
			margin: 20px 0;
			@include d(768) {
				padding-left: 10px;
			}

			&::before {
				content: '';
				width: 3px;
				height: 3px;
				background-color: $black;
				position: absolute;
				top: 9px;
				left: 12px;
				border-radius: 50%;

				@include d(768) {
					left: 0;
				}
			}

			&:not(:last-child) {
				margin-bottom: 21px;
			}
		}
	}
}

.btn-more {
	padding: 0;
	border-top: 1px solid $black;
	height: 87px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.02em;
	width: 100%;
	transition: background-color $hover-duration $timing;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	&:hover {
		background-color: $primary;
		color: $white;
	}
}
