// header
@use "../base/variables";
@use "../base/mixins";

.header {
	position: relative;
	width: 100%;
	z-index: 100;
	background-color: variables.$white;

	&-top {
		background-color: variables.$gray;

		&__row {
			font-weight: bold;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			color: variables.$white;
			padding: 10px 0;
			font-size: 20px;
			flex-wrap: wrap;

			p,
			a {
				padding: 5px 0;
			}

			a {
				margin: 0 10px;
			}
		}
	}

	&-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 50px 0;
	}

	&__nav {
		@include mixins.d(991) {
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			background-color: variables.$white;
			color: variables.$primary;
			pointer-events: none;
			opacity: 0;
			transform: translateX(-20px);
			transition: opacity 0.5s ease-out, transform 0.5s ease-out;

			&.active {
				opacity: 1;
				pointer-events: initial;
				transform: translateX(0);
				z-index: 2;
			}

			.nav-list {
				flex-direction: column;
				align-items: flex-start;
				padding: 140px 0 0 22px;
				justify-content: flex-start;
				font-size: 20px;
			}
		}
	}
}

.logo {
	display: inline-block;
	max-width: 260px;
	position: relative;
	z-index: 2;
}

.nav {
	font-size: 20px;
	margin-top: 20px;

	&-list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		&>li {
			position: relative;

			&:not(:last-child) {
				margin-right: 20px;
			}

			&.selected {
				color: variables.$primary;
			}

			&.has-children {
				position: relative;
				padding-right: 10px;

				&:before {
					content: "";
					background-image: url(../images/down.svg);
					position: absolute;
					top: 16px;
					right: 4px;
					width: 20px;
					height: 20px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}
			}

			a {
				transition: color 0.3s ease;
				padding: 10px 15px;
				display: block;
			}
		}
	}
}


.subnav {
	position: absolute;
	top: 100%;
	right: 0;
	opacity: 0;
	font-size: 16px;
	transition: opacity 0.3s ease;
	background-color: variables.$white;
	z-index: 1;
	pointer-events: none;
	padding: 0 0 15px 0;

	&>li {
		color: variables.$black;
		margin-bottom: 12px;

		a {
			padding: 2px 15px;
			position: relative;

			&::before {
				content: "";
				height: 2px;
				background-color: variables.$black;
				position: absolute;
				bottom: 2px;
				left: 15px;
				width: 0;
				transition: width 0.3s ease;
			}

			&:hover::before {
				width: 70%;
			}
		}
	}
}

@media only screen and (min-width: 992px) {
	.nav-list>li:hover>a {
		color: variables.$primary;
	}

	.nav-list>li:hover .subnav {
		opacity: 1;
		pointer-events: initial;
	}

	.nav-list>li:hover .subnav a {
		color: variables.$black;
	}
}


@media only screen and (max-width: 992px) {

	.subnav {
		pointer-events: initial;
		display: none;
		position: relative;
		opacity: 1;
	}

	.subnav>li>a {
		padding: 0 30px;
	}

	.subnav>li>a::before {
		left: 30px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 992px) {
	.nav-list>li:hover .subnav {
		position: relative;
	}
}

.burger {
	position: relative;
	width: 22px;
	height: 16px;
	z-index: 101;
	display: none;

	@include mixins.d(991) {
		display: inline-block;
	}

	&_item {
		position: absolute;
		width: 22px;
		height: 2px;
		background-color: variables.$primary;
		left: 0;
		transition: 0.5s ease-out;

		&:first-child {
			top: 0;
		}

		&:nth-child(2) {
			top: 50%;
			margin-top: -1px;
		}

		&:last-child {
			bottom: 0;
		}
	}

	&.active {
		.burger_item {
			&:first-child {
				transform: rotate(45deg);
				top: 7px;
			}

			&:nth-child(2) {
				width: 0;
			}

			&:last-child {
				transform: rotate(-45deg);
				bottom: 7px;
			}
		}
	}
}