{% extends 'partials/base.html.twig' %}

{% block content %}
	<section class="section section-article">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <article class="section-article__content">
            {{page.content|raw}}
          </article>
        </div>
      </div>
    </div>
  </section>
  <div class="overlay"></div>
		<div class="popup js-popup">
			<div class="popup__wrapper">
				<button class="popup_close js-popup-close">
					<svg
						height="512px"
						id="Layer_1"
						style="enable-background: new 0 0 512 512"
						version="1.1"
						viewBox="0 0 512 512"
						width="512px"
						xml:space="preserve"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink">
						<path
							d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z" />
					</svg>
				</button>
				<h5>
					Wir benötigen Ihre Zustimmung, um den YouTube Video-Service zu laden!
				</h5>
				<p>
					Wir verwenden einen Service eines Drittanbieters, um Videoinhalte
					einzubetten. Dieser Service kann Daten zu Ihren Aktivitäten sammeln.
					Bitte lesen Sie die Details durch und stimmen Sie der Nutzung des
					Service zu, um dieses Video anzusehen.
				</p>
				<div class="popup__footer">
					<a href="#" target="_blank" class="btn btn_border"
						>More information</a
					>
					<a href="#" class="btn js-popup-play" data-fancybox>Accept</a>
				</div>
			</div>
		</div>
{% endblock %}